* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #000000;
  --darkGray: #525252;
  --gray: #b5b5b5;
  --lightGray: #cecece;
  --white: #ffffff;
  --black: #000000;
  --beige: #86695285;
}

body {
  font-family: "Helvetica";
  background-color: var(--gray);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Judson";
}

p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}
