* {
  margin: 0;
  padding: 0;
}

:root {
  --mainColor: #000000;
  --darkGray: #171717;
  --gray: #666666;
  --lightGray: #ababab;
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Helvetica";
  background-color: var(--lightGray);
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}
